.quiz-container {
    background: #43aaff;
    width: 768px;
    height: 432px;  
    margin: 0 auto;
    padding: 16px;

    font-family: 'Source Code Pro', monospace;
}

.button-container {
    display: flex;
    flex-flow: row;
    gap: 14px;
}

.button-container button {
    flex: 1;
}