.quiz-container {
    background: #43aaff;
    width: 768px;
    height: 432px;  
    margin: 0 auto;
    padding: 16px;

    font-family: 'Source Code Pro', monospace;
}

.button-container {
    display: flex;
    flex-flow: row;
    gap: 14px;
}

.button-container button {
    flex: 1;
}

.sound-controls {
    text-align: center;
    width: 50%;
    margin: auto;
}

.sound-controls h3 {
    margin-bottom: 4px;
}

.sound-controls .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.volume-slider {
    flex: 2;
}

.mute-button {
    cursor: pointer;
    height: 32px;
    flex: 1;
}