@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* GENERAL */
html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0px;
    background: #cee6f6;
    height: 100vh;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
.header {
    background: #012c77;
    display: flex;
    flex-flow: column;
    padding: 12px;
    align-items: center;
}

.header .title {
    margin: 0px;
    color: #ffffff;
    text-shadow: 4px 5px black;
    font-size: 2.75rem;
    font-family: 'Arial Black';
    -webkit-text-stroke: 1px black;
}

.header .subtitle {
    margin-top: 4px;
    color: #ffffff;
    font-family: 'Source Code Pro', monospace;
}


/* NAVBAR */
.navbar {
    height: 32px;
    width: 100%;
    background: black;
    display: flex;
    margin: 0px;
    height: 100%;
    font-size: 90%;
}

.navbar a {
    align-self: center;
    text-align: center;
    text-decoration: none;
    color: white;
    height: 100%;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.navbar a:hover {
    background: #3d3d3d;
}

/* MAIN BODY */
main {
    flex: 1;
    padding: 16px;
}
