.container {
    background: white;
    box-shadow: 8px 8px #05153ba8;
    padding: 12px;
    text-decoration: none;
    display: block;
    color: black;
    text-align: center;
    border-radius: 4px;
}

.container:hover {
    background: #a7d9ff;
}

.container h2, p {
    margin: 0px;
}

.container h2 {
    margin-bottom: 8px;
}

.info {
    margin-top: 8px;
}
