/* MAIN CONTAINER */
.container {
    display: flex;
    flex-flow: column;
    gap: 12px;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

/* TITLE AND CONTENT */
.title {
    width: 96%;
    text-align: center;
    border-bottom: 2px solid black;
}

.title h2 {
    margin-top: 0px;
    margin-bottom: 8px;

}

.title h3 {
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 4px;
}


.content {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 1;
}

.center-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.error-box { 
    padding: 12px;
    background: #08489c;
    color: white;
    width: 75%;
    border-radius: 8px;
    font-size: small;
}

.error-box h2 {
    color: #ffe100;
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: larger;
}

.error-box p {
    margin: 0px;
}


.table-container {
    overflow-x: hidden;
    overflow-y: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 80%;
}

.table th {
    position: sticky;
        top: 0;
}


.table td,
.table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}

.table thead {
    position: sticky;
    inset-block-start: 0;
}
