/* MAIN CONTAINER */
.container {
    display: flex;
    flex-flow: column;
    gap: 12px;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
}

/* TITLE AND CONTENT */
.title {
    width: 96%;
    text-align: center;
    border-bottom: 2px solid black;
}

.title h2 {
    margin-top: 0px;
    margin-bottom: 8px;

}

.title h3 {
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 4px;
}

.content {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 1;
    overflow-y: scroll;
    text-align: center;
}

.center-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* ERROR BOX */
.error-box { 
    padding: 12px;
    background: #08489c;
    color: white;
    width: 100%;
    border-radius: 8px;
    font-size: small;
}

.error-box h2 {
    color: #ffe100;
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: larger;
}

.error-box p {
    margin: 0px;
}


/* TABLE */
.table-container {
    overflow-x: hidden;
    overflow-y: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 90%;
    text-align: center;
    background: #fae5c1;
}


.table thead {
    position: sticky;
    inset-block-start: 0;
}

.table td,
.table th {
    border: 2px solid #111111;
    padding: 8px;
}

.table th {
    background: #2d4e69;
    padding: 8px;
    color: white;
}
.table tr:nth-child(even) {
    background: #f2ffe3;
}

.table tr:hover {
    background: #cef5ff;
}

