/* MAIN CONTAINER */
.container {
    display: flex;
    flex-flow: column;
    gap: 12px;
    height: 100%;
    user-select: none;
}

/* PLAYER HUD */
.hud {
    background: white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    padding: 8px;
}

.hud p {
    margin: 0px;
}

/* QUESTION BOX */
.question-box {
    background: black;
    color: white;
    padding: 16px;
    width: 95%;
    border-radius: 8px;
    flex: 1;
    align-self: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.question-box .question-number {
    font-size: 90%;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 8px;
    margin-bottom: 16px;
    margin-top: 0px;
    width: 75%;
}

.question-box .question-text {
    flex: 1;
    display: flex;
    align-items: center;
}

/* ANSWER BOX */
.answer-buttons {
    display: flex;
    flex-flow: column;
    gap: 8px;
    width: 100%;
    position: relative;
}

.answer-button {
    height: 32px;
    padding: 8px;
    font-size: 12px;
}

.answer-button:hover {
    outline: 4px solid yellow;
}

/* ANSWER RESULT OVERLAY */
.answer-result {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #000000d0;
    padding: 8px;
    z-index: 1000;
}

.answer-result h1 {
    margin-top: 0px;
    margin-bottom: 8px;
}

.answer-result p {
    margin-top: 0px;
    margin-bottom: 16px;
}

.answer-result button {
    height: 48px;
    font-size: 16px;
    padding: 4px;
    width: 50%;
    cursor: pointer;
}

.answer-result button:hover {
    outline: 4px solid red;
}
